.document{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.image-pdf {
    max-width: 50px;
    margin-right: 10px;
    margin-left: 10px;;
}

.document-text {
    flex: 1;
    text-align: center;
}

.document .buttonsDocuments{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.document button{
    background: none;
    border: none;
}